{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.github.albfernandez/javadbf {:mvn/version "1.13.2"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        clj-time/clj-time {:mvn/version "0.15.2"}
        cljfx/cljfx {:mvn/version "1.7.16"}
        clj-htmltopdf/clj-htmltopdf {:mvn/version "0.2"}}

 :aliases
 {:uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true}
            :jvm-opts ["-Dcljfx.skip-javafx-initialization=true"]}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}}
          :ns-default build}}}
